<section id="introduction" class="container-fluid" style="background-image: url({{background.src}})">
  <div class="row">
    <div class="col-xs-12">
      <div id="logo" class="text-center" style="visibility: hidden;">
        <img src="/assets/img/favicons/android-chrome-192x192.png" alt="{{settings.author.name}} {{settings.author.job}}" width="150" height="150" />
      </div>
      <h1>{{settings.author.name}}</h1>
      <h2>{{settings.author.job}}</h2>
      <ul id="profiles">
        <li ng-repeat="profile in settings.profiles">
          <a href="{{profile.link}}" class="icon-{{profile.service}}"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="picture" class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <img ng-src="{{settings.author.picture}}" alt="{{settings.author.name}} - {{settings.author.job}}" width="100%"/>
    </div>
  </div>
</section>
