// ==================================================
// Animate
// ==================================================

//Views
.view-animate-container
  background: white
  height: 100%
  position: relative
  width: 100%

.view-animate.ng-enter,
.view-animate.ng-leave
  +transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s)
  position: absolute
  top: 0
  width: 100%

.view-animate.ng-enter,
.view-animate.ng-leave.ng-leave-active
  +opacity(0)

.view-animate.ng-enter.ng-enter-active
  +opacity(1)

//Pie charts
.wrapper
  position: relative
  margin: 40px auto
  background: white

@mixin timer($item, $duration, $size, $color, $border, $hover: running)
  #{$item}, #{$item} *
    +box-sizing(border-box)

  #{$item}
    width: $size
    height: $size

  #{$item} .pie
    width: 50%
    height: 100%
    transform-origin: 100% 50%
    position: absolute
    background: $color
    border: #{$border}

  #{$item} .spinner
    border-radius: 100% 0 0 100% / 50% 0 0 50%
    z-index: 200
    border-right: none
    +animation(rota $duration + s linear infinite)

  #{$item}:hover .spinner,
  #{$item}:hover .filler,
  #{$item}:hover .mask
    animation-play-state: $hover

  #{$item} .filler
    border-radius: 0 100% 100% 0 / 0 50% 50% 0
    left: 50%
    opacity: 0
    z-index: 100
    +animation(opa $duration + s steps(1,end) infinite reverse)
    border-left: none

  #{$item} .mask
    width: 50%
    height: 100%
    position: absolute
    background: inherit
    opacity: 1
    z-index: 300
    +animation(opa $duration + s steps(1,end) infinite)

  +keyframes(rota)
    0%
      +transform(rotate(0deg))
    100%
      +transform(rotate(360deg))

  +keyframes(opa)
    0%
      +opacity(1)
    50%, 100%
      +opacity(0)

+timer('.wrapper', 5, 250px, transparent, '10px solid #e84c3d')

//Logo
#logo-scene
  +perspective(1000px)
  height: 300px
  margin: 25px auto 0
  width: 300px

.logo-container
  +animation(rotate3d2 4s linear infinite)
  +transform-style(preserve-3d)
  position: absolute
  width: inherit
  height: inherit

.logo-face
  +border-radius(5px)
  +transform(translate3d(0, 0, 75px))
  +transition(0.5s ease)
  background: map-get($colors, red)
  height: 150px
  left: 75px
  position: absolute
  top: 75px
  width: 150px
  & + .logo-face
    +transform(translate3d(0, 0, -75px))
    & + .logo-face
      +transform(translate3d(75px, 0 , 0) rotateY(90deg))
      & + .logo-face
        +transform(translate3d(-75px, 0, 0) rotateY(-90deg))
        & + .logo-face
          +transform(translate3d(0, 75px, 0) rotateX(90deg))
          & + .logo-face
            +transform(translate3d(0, -75px, 0) rotateX(-90deg))

+keyframes(rotate3d2)
  from
    +transform(rotateY(0deg) rotateX(0deg))
  to
    +transform(rotateY(360deg) rotateX(360deg))
