// ==================================================
// Home
// ==================================================

#introduction
  +background-size(cover)
  height: 900px
  .box-inset
    position: absolute
    top: 0
  h1,
  h2
    color: #fff

#profiles
  margin-top: 40px
  text-align: center
  li
    display: inline-block
    margin: 0 4px
    a
      display: block
      line-height: 1em
      height: 37px
      width: 37px
      &:before
        +border-radius(20px)
        +transition(all ease 0.5s)
        border: 1px solid #afb1b8
        color: #afb1b8
        display: block
        height: 35px
        line-height: 35px
        width: 35px
      &:hover, &:focus, &:active
        text-decoration: none
        &:before
          border-color: map-get($colors, red)
          color: map-get($colors, red)

#picture img
  +border-radius(1000px)
  background: #f2f2f2
  border: 15px solid #f2f2f2
  margin: 50% 0 100px

#about
  background: #fff
  padding: 0 0 100px

#hobbies
  .square
    margin-bottom: 10px
    overflow: hidden
    padding-bottom: 100%
    position: relative
  .content
    height: 100%
    position: absolute
    width: 100%
  .table
    display: table
    height: 100%
    width: 100%
  [class^="icon-"],
  [class*=" icon-"]
    +border-radius(50%)
    +rem(line-height, 30px)
    background: #f1f1f1
    display: table-cell
    height: 100%
    text-align: center
    vertical-align: middle
    width: 100%
    &:before,
      +rem(font-size, 35px)
      display: block

#informations
  overflow: hidden

#resume
  padding: 150px 0
  #line
    background: map-get($colors, midblue)
    height: 100%
    left: 50%
    margin-left: -1.5px
    position: absolute
    text-align: center
    width: 3px
    &:after
      +border-radius(20px)
      +rem(font-size, 18px)
      +rem(line-height, 40px)
      background: map-get($colors, midblue)
      bottom: -20px
      color: map-get($colors, blue)
      content: "\f02e"
      display: block
      font-family: FontAwesome
      font-weight: normal
      font-style: normal
      height: 40px
      left: 50%
      margin-left: -20px
      position: absolute
      text-decoration: inherit
      width: 40px
  #experiences,
  #education
    position: relative
    z-index: 4
  .icon-folder-open,
  .icon-book
    position: relative
    z-index: 4
    &:before
      +border-radius(20px)
      +rem(font-size, 18px)
      +rem(line-height, 40px)
      background: map-get($colors, red)
      color: #fff
      display: block
      height: 40px
      margin: 0 auto 25px
      width: 40px
      text-align: center
  .icon-book:before
    background: map-get($colors, green)
  .items-container
    span
      +rem(font-size, 18px)
      +rem(line-height, 18px)
      color: map-get($colors, blue)
      display: inline-block
      font-weight: 600
      margin-bottom: 15px
      & + span:before
        +border-radius(3px)
        background: map-get($colors, red)
        content: ""
        display: inline-block
        height: 5px
        margin: 0 10px
        vertical-align: middle
        width: 5px
  .item
    margin-bottom: 40px
    padding: 0 30px
    position: relative
    .item-content
      +border-radius(5px)
      padding: 15px
      background: #fff
  #education
    .items-container span + span:before
      background: map-get($colors, green)

#map
  height: 470px
  overflow: hidden
  position: relative
  width: 100%
  iframe
    left: 50%
    margin-left: -2500px
    position: absolute
    top: 0

